---
import Layout from "../../layouts/Layout.astro";
import Heading from "../../components/Heading.astro";

export async function getStaticPaths() {
  const data = await fetch("https://gqzwqtoqyaxmxurxizow.supabase.co/rest/v1/udstillinger", {
    method: "GET",
    headers: {
      apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdxendxdG9xeWF4bXh1cnhpem93Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTA0OTA4OTYsImV4cCI6MjAyNjA2Njg5Nn0.6IGf2QJbt48spwNk0hZn1WHbZJYXT4ljVQvSNiwRaIQ",
    },
  }).then((res) => res.json());

  const newData = data.map((udstilling) => {
    return { params: { id: udstilling.id }, props: { data: udstilling } };
  });
  return newData;
}

const { id } = Astro.params;
const { data } = Astro.props;
//console.log(data);
---

<Layout title={data.name}>
  <main>
    <Heading />
    <article>
      <div>
        <h2>{data.name}</h2>
        <img src="/dusomerihimlene.avif" alt="" />
      </div>
      <div>
        <h3>Beskrivelse af værket:</h3>
        <p>{data.description}</p>
      </div>
      <ul>
        <li><p>Lavet af: {data.artistname}</p></li>
        <li><p>Lokation: {data.location}</p></li>
        <li><button>Tilføj til rute</button> <img src="/addtorouteicon.avif" alt="icon" /></li>
        <li><button>Links</button> <img src="/linkdropdown.avif" alt="icon" /></li>
      </ul>
    </article>
  </main>
</Layout>

<style>
  main {
    max-width: 1200px;
    margin: auto;
  }
  article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    max-width: 800px;
    margin: auto;
  }

  article p {
    font-size: 0.8rem;
  }

  article h3,
  h2 {
    margin-bottom: 1rem;
  }

  article h2,
  li {
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: var(--cta-button-background-color);
    padding: 0.8rem;
  }

  li {
    border-top: 0;
    border-left: 0;
    border-right: 0;
  }

  li:nth-child(3) {
    display: flex;
    justify-content: space-between;
    background-image: var(--cta-button-background-color);
    padding: 0.5rem;
  }

  li:nth-child(4) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  li img {
    width: 5%;
    height: 5%;
  }

  ul p,
  button {
    font-size: 1.2rem;
  }

  button {
    display: flex;
    color: white;
    background-color: transparent;
  }

  article > div:first-child {
    grid-column: 1/3;
  }
</style>
